.hover-video {
  width: 32%;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

video {
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1);
}

video:hover {
  transform: scale(1.1);
}
.overlay{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hide{
  display: none;
}
