.products {
  width: 95%;
  margin: 50px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c65e1d;
}
.products h3{
  margin: 5px auto 0;
  text-align: center;
  font-size: 50px;
}
.works {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;
}
